:host {
  width: 400px;
  height: 300px;
  display: grid;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  grid-template-rows: 50px 1fr 50px;
}

header {
  border-bottom: 1px solid #dfdfdf;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  .emoji {
    font-size: 50px;
  }
}

footer {
  border-top: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
